@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@800&display=swap');
html {
    background: #222;
    font-size: 1.2em;
}

body {
    background: #333;
    font-family: monospace;
    color: #ddd;
    width: 600px;
    outline: 1px solid #555;
    margin: auto auto;
    padding: 20px;
    box-shadow: 0px 0px 20px #555;
}

logo {
    font-family: 'MuseoModerno', cursive;
    color: rgb(214, 139, 0);
    font-size: 2em;
    display: block;
    border-bottom: 1px solid #555;
}

widget {
    display: inline-block;
}

widget title {
    font-family: 'MuseoModerno', cursive;
    display: block;
    padding-bottom: 0.5em;
}

widget content {
    display: block;
}

a {
    color: rgb(214, 139, 0);
    text-decoration: none;
}

a:hover {
    transition: all 500ms;
    text-decoration: underline;
}

a:active {
    color: rgb(138, 90, 0);
}