@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@800&display=swap');
@font-face {
    font-family: "swishbuttonsnf";
    src: url("static/swishbuttonsnf.woff2") format('woff');
}
html {
    background: #000;
    font-size: 1.2em;
}

body {
    background: #333;
    font-family: monospace;
    color: #ddd;
    max-width: 800px;
    outline: 1px solid #555;
    margin: auto auto;
    padding: 20px;
    overflow-y: scroll;
}

flex {
    display: flex;
    flex-direction: row;
}

logo {
    font-family: 'swishbuttonsnf';
    color: rgb(214, 139, 0);
    font-size: 1.2em;
    display: block;
    text-align: right;
}

nav {
    display: flex;
    flex-direction: column;
}

nav a {
    display: block;
    padding: 5px;
    text-decoration: none !important;
}

nav a:hover {
    background: #666;
    display: block;
}

nav a.active {
    outline: 1px solid #999;
    background: #666;
}

page {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
}

title {
    font-family: 'swishbuttonsnf';
    display: block;
    padding-bottom: 0.5em;
}

subtitle {
    display: block;
    font-weight: bold;
    font-size: 0.8em;
    background: #744720;
    text-align: center;
    border-radius: 5px;
    margin-top: 2em;
    margin-bottom: 1em;
    padding: 0.5em;
}

.hidden {
    display: none;
}

.cancel:before {
    content: '\2716';
    color: #ff2a2a;
    width: 20px;
}

.ok:before {
    content: '\2714';
    color: #02ff02;
    width: 20px;
}

purpose {
    display: block;
    padding-bottom: 2em;
    padding-left: 10%;
    font-size: 0.9em;
}

description {
    display: block;
    padding-bottom: 2em;
}

a {
    color: rgb(214, 139, 0);
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    transition: all 500ms;
    text-decoration: underline;
}

a:active {
    color: rgb(138, 90, 0);
}

table {
    border-collapse: collapse;
}

table thead tr th,
table tbody tr td {
    padding: 8px 12px;
    text-align: center;
    border: 1px solid #ddd;
    border-collapse: collapse;
}

img.clickable {
    width: 250px;
    transition: all 300ms;
}

img.clickable.active {
    transform: scale(2);
}

img.module {
    float:right;
    width: 120px;
}